# ОС
.DS_Store
Thumbs.db

# Логи
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Папки модулей
node_modules/
jspm_packages/

# Папки сборки
dist/
build/

# Папки временных файлов
tmp/
temp/
photos/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Системные файлы
*.pid
*.seed
*.pid.lock

# Тесты
coverage/
.nyc_output/

# Библиотеки
lib-cov/
*.jar
*.war
*.ear

# Базы данных
*.sql
*.sqlite
*.sqlite3

# Разное
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.class
*.dll
*.exe
*.o
*.so
*.out
*.pid
*.seed
*.swo
*.swp
*.swn
*.swm