$base-color: #272727;
$base-color-light: #777;
$light-color: #ffffff;
$primary-color: #444866;
$secondary-color: #2ecc71;
$bg-color: #F4F4F4;
$bg-color-dark: #ECECEC;
$bg-color-darken: #D6D4D4;

$border-radius-base: 8px;